body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

@media (min-width: 768px) {
    #navbar_links {
        float: right;
    }

    h1
    {
        padding-top: 60px;
    }

    .carousel-inner h1
    {
        padding-top: 0px !important;
    }
}

.carousel-control {
    background-image: none !important;
}

.carousel-inner
{
    width: 60%;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    height: 5em;
}

#ldavis_el57747081557042027698339 #ldavis_el57747081557042027698339-top
{
    margin: auto;
}

#sentimentBarChartCanvas #freqWeightBarChartCanvas
{
    margin: auto;
}

#sentimentBarChart #freqWeightBarChart
{
    margin: auto;
}

.wordCloud
{
    text-align: center;
}

.wordCloud_subs
{
    display: inline;
}

.wordCloudLabel
{
    font-size: 2em;
    text-align: center;
}